* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 100px;
  border-radius: 15px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/sfondo.jpg") ;
}

.insert_box{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.insert_task{
  display: flex;
  padding: 20px 0;
}

.task_box{
  height: 300px;
  width: 300px;
  background-color: blueviolet;
  border-radius: 10px;
}

.task_list{
  height: 100%;
  width: 100%;
}

ul {
  list-style: none;
}

ul > li{
  padding: 10px;
  background-color: thistle;
  border: 1px solid black;
}